body {
    background-color: black;
}

.box1 {
    width: 40%;
    margin-left: 5%;
    /* margin-top: -1000px; */
    height: 200px;
    position: relative;
    /* background: linear-gradient(135deg,black,grey,white); */
    background-color: #f4e8c1;
    box-shadow: 5px 5px 5px #c9b28f;
    /* border-top-left-radius: 110px;
    border-bottom-right-radius: 110px; */
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.box2 {
    width: 40%;
    margin-left: 50%;
    margin-top: -235px;
    height: 200px;
    position: relative;
    /* background: linear-gradient(135deg,black,grey,white); */
    background-color: #f4e8c1;
    box-shadow: 5px 5px 5px #c9b28f;
    /* border-top-left-radius: 110px;
    border-bottom-right-radius: 110px; */
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.box3 {
    width: 40%;
    margin-left: 5%;
    margin-top: 100px;
    height: 200px;
    position: relative;
    /* background: linear-gradient(135deg,black,grey,white); */
    background-color: #f4e8c1;
    box-shadow: 5px 5px 5px #c9b28f;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.box4 {
    width: 40%;
    margin-left: 50%;
    margin-top: -235px;
    height: 200px;
    position: relative;
    /* background: linear-gradient(135deg,black,grey,white); */
    background-color: #f4e8c1;
    box-shadow: 5px 5px 5px #c9b28f;
    /* border-top-left-radius: 110px;
    border-bottom-right-radius: 110px; */
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.box5 {
    width: 40%;
    margin-left: 5%;
    margin-top: 100px;
    height: 200px;
    position: relative;
    /* background: linear-gradient(135deg,black,grey,white); */
    background-color: #f4e8c1;
    box-shadow: 5px 5px 5px #c9b28f;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 50px;
    width: 150px;
    z-index: 100;
}

.button-51:hover,
.button-51:active {
    outline: 0;
}

.button-51:hover {
    background-color: transparent;
    cursor: pointer;
}

.button-51:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.button-51:hover:before {
    background-color: #6DCFF6;
}

@media (min-width: 768px) {
    .button-51 {
        padding: 16px 32px;
    }
}