.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* two rows with equal height */
    grid-template-columns: 1fr 1fr;
    /* two columns with equal width */
    gap: 20px;
    /* gap between grid cells */
}

/* styling for grid cells */
.cell {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 120px;
    overflow: hidden;
    background-color: #304d5a;
}

li {
    float: right;
    padding: left 19px;
    margin-top: 0 20px;
    color: whitesmoke;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    margin-top:30px;
}
li a.active {
    background-color: black;
  }
  
li a:hover {
    background-color: rgb(33, 110, 141);
}
