<!DOCTYPE html> 
<html>
    <head>
        <title>Welcome to IIIT's Lost, Found and Sell Server</title>
        <link rel="stylesheet" href="../static/css/homepage.css">
    </head>
    <body>
        <p style="color: white; font-size: 60px; text-align: center; font-weight: bold;">WELCOME to IIIT's</p>
        <p style="color: white; font-size: 60px; text-align: center; font-family: cursive; font-weight: bold;">LOST, FOUND AND SELL SERVER !!</p>
      

        <div class = "box1" >
            <p style="font-size:35px; font-weight:bold; text-align:center;">Want to BUY Something..</p>
            <p style="text-align:center; font-size:20px; font-family:bold; margin-top: -30px;">If you want to buy something, check out the list of items which are up for selling, Click on the button below</p>
            <a href="buy.html"><button class="button-51" role="button" style="margin-top:10px; text-align:center; margin-left: 300px;">BUY!</button></a>


            
        </div>

         <div class = "box2" >
            <p style="font-size:35px; font-weight:bold; text-align:center;">Want to BORROW Something ??</p>
            <p style="text-align:center; font-size:20px; font-family:bold; margin-top: -30px;">If you have found something which is not yours, we help you reach its owner. Click on the button below, It will redirect you to the page where details of all the things lost around the campus are listed. If the item is not listed you can enter its details, so that its owner can reach you.</p>
            <a href="borrow.html"><button class="button-51" role="button" style="margin-top:-10px; text-align:center; margin-left: 300px;">BORROW!</button></a>
        </div>
          <div class = "box3" >
           <p style="font-size:35px; font-weight:bold; text-align:center;">Have You LOST Something ??</p> 
           <p style="text-align:center; font-size:20px; font-family:bold; margin-top: -30px;">If you have Lost something Click on the button below. It will redirect you to the page where details of all the things found around the campus are listed. If your lost item is not present you can enter its details, so that someone who finds it can inform you.</p>
            <a href="lost.html"><button class="button-51" role="button" style="margin-top:-10px; text-align:center; margin-left: 300px;">LOST!</button></a>
        </div>
        
        
        <div class = "box4" >
            <p style="font-size:35px; font-weight:bold; text-align:center;">Have You FOUND Something ??</p>
            <p style="text-align:center; font-size:20px; font-family:bold; margin-top: -30px;">If you have found something which is not yours, we help you reach its owner. Click on the button below, It will redirect you to the page where details of all the things lost around the campus are listed. If the item is not listed you can enter its details, so that its owner can reach you.</p>
            <a href="found.html"><button class="button-51" role="button" style="margin-top:-10px; text-align:center; margin-left: 300px;">FOUND!</button></a>
        </div>
        <div class = "box5" >
            <p style="font-size:35px; font-weight:bold; text-align:center;">Want to SELL Something..</p>
            <p style="text-align:center; font-size:20px; font-family:bold; margin-top: -30px;"> If you want to sell something you don't use anymore, this is the right place for you. You can Click the button below and enter the details of the items you wnat to sell. </p>
            <a href="sell.html"><button class="button-51" role="button" style="margin-top:10px; text-align:center; margin-left: 300px;">SELL!</button></a>
        </div>

        
    </body>
</html>