<html>

<head>
    <link rel="stylesheet" href="../static/css/index.css">
</head>




<body>

<header style="height: 120px; background-color: #304d5a;">
	<!-- <h1>
		theRetrieval_Zone@iiit
    </h1> -->
	<img src="../static/logo.jpeg" style="margin-top: 10px;">
</header>


<!-- <h2>Welcome to IIIT Hyderabad's Lost and Found Portal</h2>
<br>
<h3>Enter Your Details To Get Started</h3> -->
{% if error %}
<div class="alert-danger">
    {{ error }}
</div>
{% endif %}

<div class="container" id="container">
	<div class="form-container sign-up-container">
        <form method="POST" action="/signup">
            <h1>Create Account</h1>
            <input type="text" id="name" name="name" placeholder="Name">
            <input type="text" id="no" name="rollNo" placeholder="Roll No">
            <input type="text" id="phone" name="mobile" placeholder="Mobile number">
            <input type="password" id="pass" name="password" placeholder="Password">
            <input type="submit" value="Submit">
	    </form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST" action="/signin">
			<h1>Sign in</h1>
			<input type="text" placeholder="Roll Number" name="rollNo"/>
			<input type="password" placeholder="Password" name="password"/>
			<input type="submit" value="Submit">
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Please login with your personal info.</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome to IIIT Hyderabad's Lost and Found Portal!</h1>
				<p>Enter Your Details To Get Started</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

    <script src="../static/js/index.js">

    </script>
	  
</body>
	
</html>
