<!DOCTYPE html>
<html>
<head>
	<title>Grid Layout Example</title>
	<link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>

 
<ul>
  <li><a class="active" href="/lostView.html">LOST</a></li>
  <li><a href="/foundView.html">FOUND</a></li>
  <li><a href="/sell.html">SELL</a></li>
  <li><a href="/borrow.html">BORROW</a></li>
  <li><a href="/buy.html">BUY</a></li>
  
</ul>

  <div class="cell" style="margin-top:130px; margin-bottom:50px; width:50%; margin-left:20%;"> 
      <h1>
        Student Details
      </h1>
      
           {% for user in user %}
          
            <h2>Student Name: {{user[0]}}</h2>
            <h2> Student Roll Number:{{ user[1] }}</h2>
            <h2>Student Mobile Number: {{ user[3] }}</h2>
          
        {% endfor %}
            
        </div>
  
	<div class="container">
    
		<div class="cell" style="background-color: aquamarine; margin-top:50px; margin-right:20px; margin-left:20px;">
      <h1>Student Lost Items posted</h1>
     <center> <table border="2" cellpadding="20">
        <thead>
          <th>
           Name
          </th>
          <th>
            color model
          </th>
          <th>
            description
          </th>
          
        </thead>
        <tbody>
          <tr>
           {% for lost in lost %}
          <tr>
            <td>{{ lost[0] }}</td>
            <td>{{ lost[1] }}</td>
            <td>{{ lost[2] }}</td>
            
          </tr>
        {% endfor %}
          </tr>
        </tbody>
      </center>
      </table>
    </div>
    <div class="cell" style="background-color: aquamarine; margin-top:50px; margin-right:20px; margin-left:20px;">
      <h1>Student Found items posted</h1>
     <center> <table border="2" cellpadding="20" >
        <thead>
          <th>
            Name
          </th>
          <th>
            color model
          </th>
          <th>
            Description
          </th>
        </thead>
        <tbody>
          {% for post in post %}
          <tr>
            <td>{{ post[0] }}</td>
            <td>{{ post[1] }}</td>
            <td>{{ post[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
     </table> </center></div>
     
		<div class="cell" style="background-color: aquamarine; margin-top:50px; margin-right:20px; margin-left:20px;"> 
      <h1>Student Sell items posted</h1>
     <center> <table border="2" cellpadding="20">
        <thead>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Price
          </th>
        </thead>
        <tbody>
          {% for sell in sell %}
          <tr>
            <td>{{ sell[0] }}</td>
            <td>{{ sell[1] }}</td>
            <td>{{ sell[2] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </center>
    </div>
    
		<div class="cell" style="background-color: aquamarine; margin-top:50px; margin-right:20px; margin-left:20px;"> 
      <h1>
        Student Buy items posted
      </h1>
      <center>
      <table border="2" cellpadding="20">
        <thead>
          <th>
            Name 
          </th>
          <th>
            Description
          </th>
          <th>
            Price
          </th>
        </thead>
        <tbody>
           {% for buy in buy %}
          <tr>
            <td>{{ buy[0] }}</td>
            <td>{{ buy[1] }}</td>
            <td>{{ buy[2] }}</td>
          </tr>
        {% endfor %}
            
        </tbody>
      </table>
      </center>
    </div>
	</div>
</body>
</html>



