<!DOCTYPE html>
<html>
<head>
	<title>Grid Layout Example</title>
	<link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>

 
<ul>
  <li><a class="active" href="/lostView.html">LOST</a></li>
  <li><a href="/foundView.html">FOUND</a></li>
  <li><a href="/sell.html">SELL</a></li>
  <li><a href="/borrow.html">BORROW</a></li>
  <li><a href="/buy.html">BUY</a></li>
  
</ul>

  <div class="cell" style="margin-top:130px; margin-bottom:50px; width:50%; margin-left:20%;font-family: monospace;"> 
      <h1>
        Student Details
      </h1>
      
           {% for user in user %}
          
            <h2>Name : {{user[0]}}</h2>
            <h2>Roll Number : {{ user[1] }}</h2>
            <h2>Mobile Number : {{ user[3] }}</h2>
          
        {% endfor %}
            
        </div>
  
	<div class="container">
    
		<div class="cell" style="background-color: lightblue; margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;">
      <h1>Items Lost</h1>
      {% if lost %}
     <center> 
      <table border="2" cellpadding="20">
        <thead>
          <th>
           Name
          </th>
          <th>
            color model
          </th>
          <th>
            description
          </th>
          
        </thead>
        <tbody>
          <tr>
           {% for lost in lost %}
          <tr>
            <td>{{ lost[0] }}</td>
            <td>{{ lost[1] }}</td>
            <td>{{ lost[2] }}</td>
            <td><button class="remove-button" onclick="removeLost('{{ lost[0] }}')">Remove</button></td>
            
          </tr>
        {% endfor %}
          </tr>
        </tbody>
      </center>
      {% else %}
    <p style="font-size: 15px;">Nothing Added Yet!</p>
  {% endif %}
      </table>
    </div>



    <div class="cell" style="background-color: lightblue; margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;">
      <h1>Items Found</h1>
     <center> <table border="2" cellpadding="20" >
      {% if found %}
        <thead>
          <th>
            Name
          </th>
          <th>
            Color/Model
          </th>
          <th>
            Description
          </th>
        </thead>
        <tbody>
          {% for found in found %}
          <tr>
            <td>{{ found[0] }}</td>
            <td>{{ found[1] }}</td>
            <td>{{ found[2] }}</td>
            <td><button class="remove-button" onclick="removeLost('{{ found[0] }}')">Remove</button></td>

          </tr>
          {% endfor %}
        </tbody>
  </center>
  {% else %}
<p style="font-size: 15px;">Nothing Added Yet!</p>
{% endif %}
</table> 
    </div>
     













		<div class="cell" style="background-color: lightblue; margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;"> 
      <h1>Items Up For Sale</h1>
     <center> <table border="2" cellpadding="20">
      {% if sell %}
        <thead>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Price
          </th>
        </thead>
        <tbody>
            {% for sell in sell %}
            <tr>
              <td>{{ sell[0] }}</td>
              <td>{{ sell[1] }}</td>
              <td>{{ sell[2] }}</td>
              <td><button class="remove-button" onclick="removeSell('{{ sell[0] }}')">Remove</button></td>
            </tr>
          {% endfor %}
          </tr>
        </tbody>
      
    </center>  
    {% else %}
    <p style="font-size: 15px;">Nothing Added Yet!</p>
    {% endif %}
  </table>
    </div>
    
		<div class="cell" style="background-color: lightblue; margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;"> 
      <h1>
        Items Up For Hire
      </h1>
      {% if buy %}
      <center>
      <table border="2" cellpadding="20">
        <thead>
          <th>
            Name 
          </th>
          <th>
            Description
          </th>
        </thead>
        <tbody>
           {% for buy in buy %}
          <tr>
            <td>{{ buy[0] }}</td>
            <td>{{ buy[1] }}</td>
            <td><button class="remove-button" onclick="removeSell('{{ buy[0] }}')">Remove</button></td>
          </tr>
        {% endfor %}
            
        </tbody>
      
      </center>
      {% else %}
      <p style="font-size: 15px;">Nothing Added Yet!</p>
      {% endif %}
    </table>
    </div>
	







</body>
<script>
  function removeSell(name) {
    fetch('/remove-from-sell', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'name': name
      })
    })
    .then(function(response) {

      location.reload(); 
    })
    .catch(function(error) {
      console.error('hiiiii', error);
    });
  }


  function removeLost(name) {
    fetch('/remove-from-lost', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'name': name
      })
    })
    .then(function(response) {

      location.reload(); 
    })
    .catch(function(error) {
      console.error('hiiiii', error);
    });
  }

</script>
</html>



