<!DOCTYPE html>
<html>

<head>
  <title>Grid Layout Example</title>
  <link rel="stylesheet" href="../static/css/navbar.css">
</head>

<body>


  <ul>
    <img src="../static/logo.jpeg" style="margin-top:10px;margin-left:10px;">
    <li><a href="/index.html">SIGN OUT</a></li>
    <li><a href="/lostView.html">LOST</a></li>
    <li><a href="/foundView.html">FOUND</a></li>
    <li><a href="/sell.html">SELL</a></li>
    <li><a href="/borrow.html">BORROW</a></li>
    <li><a href="/buy.html">BUY</a></li>
    <li><a href="/studentProfile.html" a class="active">PROFILE</a></li>
    <li><a href="/homepage.html">HOME</a></li>
  </ul>

  <style>
    body {
      background-color: #D2DAC2;
      overflow-x: hidden;
    }
  </style>

  <div class="cell" style=" margin-top:100px; margin-bottom:50px; width:50%; margin-left:25%;font-family: monospace;">
    <h1>
      Student Details
    </h1>

    {% for user in user %}

    <h2>Name : {{user[0]}}</h2>
    <h2>Roll Number : {{ user[1] }}</h2>
    <h2>Mobile Number : {{ user[3] }}</h2>

    {% endfor %}

  </div>

  <div class="container">

    <div class="cell"
      style="background-color:#adcc6e;margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;">
      <h1>Items Lost!!</h1>
      {% if lost %}
      <center>
        <table border="2" style="border-color:black;" cellpadding="20">
          <thead style="font-size:20px;">
            <th>
              Name
            </th>
            <th>
              Color or Model
            </th>
            <th>
              Description
            </th>
            <th>
              Already Found ?
            </th>

          </thead>
          <tbody>
            <tr>
              {% for lost in lost %}
            <tr style="font-size:15px;">
              <td>{{ lost[0] }}</td>
              <td>{{ lost[1] }}</td>
              <td>{{ lost[2] }}</td>
              <td><button class="remove-button" onclick="removeLost('{{ lost[0] }}')">Remove</button></td>

            </tr>
            {% endfor %}
            </tr>
          </tbody>
      </center>
      {% else %}
      <div style="display:flex;justify-content:center;">
        <p style="font-size: 15px; text-align:center;">Nothing Added Yet!</p>
      </div>
      {% endif %}
      </table>
    </div>

    <div class="cell"
      style="background-color:#adcc6e; margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;">
      <h1>Items Found!!</h1>
      <center>
        <table border="2" style="border-color:black;" cellpadding="20">
          {% if found %}
          <thead style="font-size:20px;">
            <th>
              Name
            </th>
            <th>
              Color/Model
            </th>
            <th>
              Description
            </th>
            <th>
              Reached the Owner ?
            </th>
          </thead>
          <tbody>
            {% for found in found %}
            <tr style="font-size:15px;">
              <td>{{ found[0] }}</td>
              <td>{{ found[1] }}</td>
              <td>{{ found[2] }}</td>
              <td><button class="remove-button" onclick="removeLost('{{ found[0] }}')">Remove</button></td>

            </tr>
            {% endfor %}
          </tbody>
      </center>
      {% else %}
      <div style="display:flex;justify-content:center;">
        <p style="font-size: 15px; text-align:center;">Nothing Added Yet!</p>
      </div>
      {% endif %}
      </table>
    </div>

    <div class="cell"
      style="background-color:#adcc6e; margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;">
      <h1>Items Up For Sale!!</h1>
      <center>
        <table border="2" style="border-color:black;" cellpadding="20">
          {% if sell %}
          <thead style="font-size:20px;">
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Price
            </th>
            <th>
              Sold ?
            </th>
          </thead>
          <tbody>
            {% for sell in sell %}
            <tr style="font-size:15px;">
              <td>{{ sell[0] }}</td>
              <td>{{ sell[1] }}</td>
              <td>{{ sell[2] }}</td>
              <td><button class="remove-button" onclick="removeSell('{{ sell[0] }}')">Remove</button></td>
            </tr>
            {% endfor %}
            </tr>
          </tbody>

      </center>
      {% else %}
      <div style="display:flex;justify-content:center;">
        <p style="font-size: 15px; text-align:center;">Nothing Added Yet!</p>
      </div>
      {% endif %}
      </table>
    </div>

    <div class="cell"
      style="background-color:#adcc6e;margin-top:50px; margin-right:20px; margin-left:20px;font-family: monospace;">
      <h1>
        Items Up For Hiring !!
      </h1>
      {% if buy %}
      <center>
        <table border="2" style="border-color:black;" cellpadding="20">
          <thead style="font-size:20px;">
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Not Available?
            </th>
          </thead>
          <tbody>
            {% for buy in buy %}
            <tr style="font-size:15px;">
              <td>{{ buy[0] }}</td>
              <td>{{ buy[1] }}</td>
              <td><button class="remove-button" onclick="removeSell('{{ buy[0] }}')">Remove</button></td>
            </tr>
            {% endfor %}

          </tbody>

      </center>
      {% else %}
      <div style="display:flex;justify-content:center;">
        <p style="font-size: 15px; text-align:center;">Nothing Added Yet!</p>
      </div>
      {% endif %}
      </table>
    </div>

</body>
<script>
  function removeSell(name) {
    fetch('/remove-from-sell', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'name': name
      })
    })
      .then(function (response) {

        location.reload();
      })
      .catch(function (error) {
        console.error('hiiiii', error);
      });
  }


  function removeLost(name) {
    fetch('/remove-from-lost', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'name': name
      })
    })
      .then(function (response) {

        location.reload();
      })
      .catch(function (error) {
        console.error('hiiiii', error);
      });
  }

</script>

</html>
